<div id="home_header">Martin Lundgren</div>
<div id="about_container">
    <div id="part1">
        Motivated and enthusiastic person with extensive experience in various industries.
        Proven knowledgeable in achieving good results and with excellent collaboration skills.
        Constructive and driven. Happy to work hard to achieve the goals expected of
        me. Looking forward to working with programming in the future.
    </div>
    <div id="part2"><img src="~/Images/profil.jpg" /></div>
    <div id="part3">
          <div>Adress: Space Street 42</div>
          <div>Phone:  xxxx-xxxxxxx</div>
          <div>Email:  spaceman@universe.com</div>
          <div>Homep:  www.milkyway.com</div>
    </div>
</div>
<div id="about_container2">
    <div id="part4">
        <div id="head1">Experience</div>
        <div>Google, Los Angeles</div>
        <div>Microsoft, New York</div>
        <div>Apple, Detroit</div>
        <div>Paradox, Stockholm</div>
        <div>Mojang, Gothenburg</div>
        <div id="wish">I wish....</div>
        <div id="smiley"><img src="~/Images/smiley.png" /></div>
    </div>
    <div id="part5">
        <div id="head1">Skills</div>
        <div>C</div>
        <div>C++</div>
        <div>C#</div>
        <div>Java</div>
        <div>Javascript</div>
        <div>Python</div>
        <div>Html</div>
        <div>CSS</div>
        <div>ASP-net</div>
        <div>MVC</div>
        <div>AI</div>
        <div>Robotocs</div>
    </div>
    <div id="part6">
        <div id="head1">Education</div>
        <div>Phd in Computer Science</div>
        <div>Phd in Criminology</div>
        <div>Phd in Sociology</div>
    </div>
    <div id="part7">
        <div id="head1">Languages</div>
        <div>English</div>
        <div>Swedish</div>
        <div>German</div>
        <div>Russian</div>
    </div>
</div>   

