
@{
    string name = "Martin Lundgren";
    string adress = "Space street 42";
    string phone = "3141-592653";
    string mail = "spaceman42@milkyway.com";
}
<div id="home_header">My contact information</div>
<div id="contact_container">
    <div id="info">
        <div>Name: @name</div>
        <div>Adress: @adress</div>
        <div>Phone: @phone</div>
        <div>Mail: @mail</div>
    </div>
</div>
