
<div id="project_container">
    <div id="home_header">My Coding Projects</div>
    <div id=projects>
        <div><a href="https://github.com/MartinTriesToCode/BasicCalculator">Basic Calculator: C#</a></div>
        <div><p>Performs basic mathematical operations with two numbers.</p></div>
        <div><a href="https://github.com/MartinTriesToCode/AdvancedCalculator">Advanced Calculator: C#</a></div>
        <div><p>Uses the Shunting Yard algorithm to process multiple input numbers and operations.</p></div>
        <div><a href="https://github.com/MartinTriesToCode/Sokoban">Sokoban: Javascript</a></div>
        <div><p>Classic puzzle game where the goal is to push boxes onto specific target positions.</p></div>
        <div><a href="https://github.com/MartinTriesToCode/Hangman">Hangman: C#</a></div>
        <div><p>Player gets a finite number of guesses to figure out the secret word.</p></div>
        <div><a href="https://github.com/MartinTriesToCode/VendingMachine">Vending Machine C#</a></div>
        <div><p>Object oriented implementation of a Vending Machine with different products.</p></div>
        <div><a href="https://github.com/MartinTriesToCode/Front-End-Assignments">Create Hompage: Html/CSS</a></div>
        <div><p>Creates and styles a basic homepage.</p></div>
    </div>
</div>